<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TeamworkDesignSystem-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TeamworkDesignSystemiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TeamworkMobileDesignSystem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DesignSystemTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkDesignSystem-iOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkDesignSystem-iOSTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkDesignSystem-iOS_TeamworkDesignSystem-iOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkDesignSystemiOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkDesignSystemiOS_TeamworkDesignSystemiOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkMobileDesignSystem</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TeamworkMobileDesignSystem_TeamworkMobileDesignSystem</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
